@import url('https://fonts.googleapis.com/css?family=Lato:300|Oswald&display=swap');
*{
  margin: 0px;
  padding: 0px;
  border:0px;

}
body{
  font-family: Lato;
  color: #777777;
}
h2{
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing:4px;
    color: #635b4e;
}
h3,h4, .nav_link{
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing:4px;
  color: #635b4e;
 
  font-weight:300;
}
h3{
     font-size: 18px;
}
h4, .nav_link{
    font-size: 16px;
}
.nav_link{
 margin: 0 15px 0 15px;
}
.nav_link:hover{
    color: #635b4e;
    text-decoration: none;
    font-weight:400;
   
}

/* DASHBOARD, MODULES AND SESSIONS */
li h4{
    text-transform: capitalize;
}
.module{
   width: 100%;
    padding: 1%;
}
.session{
  border: 1px solid   #0fbeba;
 
  padding: 1%;
 
}
#dashboard{
   margin: 0 auto;
}
/* ---------------------------------------APP COLORS */
.white{
    color: #fdf1ed;
}
.green{
    color:   #0fbeba;
}
.bg_green{
 background-color:   #0fbeba;
}
.border_green{
 border: 1px solid  #0fbeba;
}
.bg_green_tr{
 background-color:   rgba(15,190,186,0.4);
}
.blue{
    color:   #0076ba;
}
.bg_blue{
background-color:   #0076ba;
}
.border_blue{
border: 1px solid    #0076ba;
}
.bg_blue_tr{
background-color:   rgba(0, 118, 186, 0.4);
}
.bg_light_blue{
background-color:   #bce3f9;
}
.border_light_blue{
border: 1px solid   #bce3f9;
}
.orange{
    color:   #fc8b09;
}
.bg_orange{
background-color:   #fc8b09;
}
.border_orange{
border: 1px solid    #fc8b09;
}
.bg_orange_tr{
background-color:   rgba(252, 139, 9, 0.4);
}
.dark_grey{
       color: #635b4e;
}
.bg_dark_grey{
       color: #635b4e;
}
.border_dark_grey{
       color: #635b4e;
}
.bg_dark_grey_tr{
background-color:   rgba(99, 91, 78, 0.4);
}
/* -------------------------INDEX */
.btn_sharp{
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 3px ;
   
}

.btn_sharp:hover{
    border-radius: 15px;
   
}
.challenge{
   
   width: 100%;
   padding: 10px;
   margin-left: 10px;
  
}

/* ---------------------------------------LOGO IMAGE */
#logo_dimg {
    height: 0;
    padding: 0; 
    padding-bottom: 35.68%; /* aspect ratio of the image 500/1600*/
    background-image: url(../images/logo-md.png) ; 
  
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

/* ---------------------------------------HERO IMAGE */
#hero_background {


  /*https://stackoverflow.com/questions/11099930/100-width-background-image-with-an-auto-height*/
    height: 0;
    padding: 0; 
    padding-bottom: 31.5%; /* aspect ratio of the image 500/1600*/
    background-image: url(../images/bgr-xl-color_notes.png) ;
    /*https://stackoverflow.com/questions/11099930/100-width-background-image-with-an-auto-height*/


    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}
#hero_text {
    height: 0;
    padding: 0; 
    padding-bottom: 31.5%; /* aspect ratio of the image 500/1600*/
    /* background-image: url(../images/languages/sk.png) ; */
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
   position: relative;
 /* -webkit-animation-name: example; 
  -webkit-animation-duration: 60s; */
   animation-name: example;
   animation-duration: 60s;
   animation-iteration-count: infinite;
   
  
}
/* ---------------------------------------HERO IMAGE ANIMATION */
@-webkit-keyframes example {
    0%      { background-image: url(../images/languages/en.png) ; }
    10%     { background-image: url(../images/languages/en.png) ; }

    12.5%   { background-image: url(../images/languages/en.png) ; }
    15%   { background-image: url(../images/languages/sk.png) ; }

    25%     { background-image: url(../images/languages/sk.png) ; }
    27.5%   { background-image: url(../images/languages/cn.png) ; }

    37.5%   { background-image: url(../images/languages/cn.png) ; }
    40%     { background-image: url(../images/languages/es.png) ; }
 
    50%     { background-image: url(../images/languages/es.png) ; }
    52.5%   { background-image: url(../images/languages/pl.png) ; }
    
    62.5%     { background-image: url(../images/languages/pl.png) ; }
    65%   { background-image: url(../images/languages/ru.png) ; }


     75%     { background-image: url(../images/languages/ru.png) ; }
     77.5%   { background-image: url(../images/languages/th.png) ; }

     87.5%  { background-image: url(../images/languages/th.png) ; }
     90%    { background-image: url(../images/languages/vn.png) ; }

     100%    { background-image: url(../images/languages/vn.png) ; }

}

/* Standard syntax */
@keyframes example {
    0%      { background-image: url(../images/languages/en.png) ; }
    10%     { background-image: url(../images/languages/en.png) ; }

    12.5%   { background-image: url(../images/languages/en.png) ; }
    15%   { background-image: url(../images/languages/sk.png) ; }

    25%     { background-image: url(../images/languages/sk.png) ; }
    27.5%   { background-image: url(../images/languages/cn.png) ; }

    37.5%   { background-image: url(../images/languages/cn.png) ; }
    40%     { background-image: url(../images/languages/es.png) ; }
 
    50%     { background-image: url(../images/languages/es.png) ; }
    52.5%   { background-image: url(../images/languages/pl.png) ; }
    
    62.5%     { background-image: url(../images/languages/pl.png) ; }
    65%   { background-image: url(../images/languages/ru.png) ; }


     75%     { background-image: url(../images/languages/ru.png) ; }
     77.5%   { background-image: url(../images/languages/th.png) ; }

     87.5%  { background-image: url(../images/languages/th.png) ; }
     90%    { background-image: url(../images/languages/vn.png) ; }

     100%    { background-image: url(../images/languages/vn.png) ; }

}
#student_form{
    margin-bottom: 180px;
}
/* -------------------------------------------------------Checkbox Hack */


  /*http://jsfiddle.net/ucw2x9sb/4/*/
  /*https://stackoverflow.com/questions/26901466/how-to-show-hide-div-on-click-with-stricly-html-css*/

 input[type=checkbox]#toggler {
   position: absolute;
   top: -9999px;
   left: -9999px;
}
/* Default State */
.visualy_hidden {
   display: none;
}
/* Toggled State */
 input[type=checkbox]:checked#toggler ~ .visualy_hidden {
   display: block;
} 

.notes{
   position: absolute;
   right: 1%;
   top: 5%;

   background-color:    rgba(0, 118, 186, 0.4);
   color: #fafafa;
   cursor: pointer;
}

.enter_btn{
   
   margin-bottom: 120%;
   margin-right: 245%;
}

/* -------------------------------------------------------- KASIAS IMAGE */
#why{
     margin: 0 auto;
}
#blue_gradient{
   background-image: linear-gradient( white,  #0076ba); 
}
#kasia_bgr{
   position: relative;
   width: 300px;
   height: 300px;
   border-radius: 50%;
   border-top: 0px solid white;
   border-left: 0px solid white;
   border-right: 0px solid white;
   border-bottom: 1px solid #99969f; 
   margin: -37% auto;
   padding: 30px;
}
#kasia{
  position: relative;
   content: url('../images/kasia.png') ;
   height: 100%;
   border-radius: 50%;
   margin: 0 auto;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}
.kasia_text{
  margin-top: -37%;
  padding: 30px;
}


#kasia{
  position: relative;
   content: url('../images/kasia.png') ;
   height: 100%;
   border-radius: 50%;
   margin: 0 auto;
}

#kasia_name{
   margin: 40% auto;
   text-align: center;
}
 #logo_img {
    height:81px;
    content: url(../images/logo-md.png) ; 
}
@media screen and ( max-width: 1200px ){
   
  #kasia_bgr{
    margin: -43% auto;
  }
 #kasia_name{
   margin: 43% auto;
 }
}
@media screen and ( max-width: 990px ){
   #kasia_bgr{
    margin: -60% auto;
  }
 #kasia_name{
   margin: 60% auto;
 }
}
@media screen and ( max-width: 767px ){
    #logo_img {
    height:40px;
    content: url(../images/logo-sm.png) ; 
}
   #kasia_bgr{
  margin: -40% auto;
  }
   #kasia_name{
   margin: 40% auto;
 }
}
@media screen and ( max-width: 540px ){
     #logo_img {
    height:27px;
    content: url(../images/logo-xs.png) ; 
}
   #kasia_bgr{
    margin: -60% auto;
  }
 #kasia_name{
   margin: 60% auto;
 }
}
#testimonials{
    margin-top: 150px;
}
/* ------------------------------MISCELANIOUS */
.buy_option{
   font-style: italic;
   letter-spacing: 4;
   font-family: "Oswald";
   font-size: 40px;
}
.social-networks{
  text-align: center;
  
}
.social-networks li{
  display: inline;
}
.social-networks i{
  font-size: 160%;
  color: #777777;
  margin: 1%;
  padding: 5%;

}
.no_border{
  border: none;
  
}
.no_border_tight{
  text-align: center;
  border: none;
  padding: 2px;
 
  background-color: rgba(255,255, 255,0.4);
}
li.no_border_tight a{
  text-decoration: none;
   color: grey;
}
li.no_border_tight a:hover{
 background-color: rgba(138, 177, 234,0.3);
}
.border_bottom_only{
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
form input:hover, form select:hover{
  background-color: rgba(15,190,186,0.2);
}
ul.benefits{
    font-size: 18px;
}
/* --------------------------------------TESTIMONIALS */
.quote_mark{
    color:     #4f4638;
    font-size: 30px;
}

.quote_text{
    font-style: italic;
    color: #4f4638;
    font-size: 20px;

}
li.quote_text{
    font-size: 17px;
}
h3.quote_title{
    letter-spacing: 4;
}

.flag{
  width: 26px;
  height: 13px;
  padding-right :2px;
  cursor: pointer;
}

.avatar{
   
   width: 150px;
   height: 150px;
   border-radius: 50%;
   border-top: 0px solid white;
   border-left: 0px solid white;
   border-right: 0px solid white;
   border-bottom: 1px solid #99969f; 
   
   padding: 10px;
}
.footer_background{
    height: 0;
    padding: 0; 
    padding-bottom: 31.5%; /* aspect ratio of the image 600/1600*/
    background-image: url(../images/bgr-xl-grey.png) ;
    /*https://stackoverflow.com/questions/11099930/100-width-background-image-with-an-auto-height*/


    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;

}
